.third-section {
  display: flex;
  align-items: center;
  position: relative;
}

.third-section--image {
  width: 71.8rem;
  height: 82.6rem;
  margin-right: 8.4rem;
}

.third-section-art {
  position: absolute;
  right: 24.7rem;
  bottom: 5.8rem;
}

.third-sections-text {
  width: 100%;
  max-width: 43.4rem;
}

.third-section-props--container:first-child {
  margin-top: 1.6rem;
  margin-bottom: 1.8rem;
}

.third-section-props--heading {
  font-size: 1.6rem;
  font-weight: var(--athletics-medium);
  color: var(--dark-grey);
  line-height: 2.34rem;
}
