.flex-container {
  display: flex;
  justify-content: center;
  padding-top: 10.4rem;
  padding-bottom: 10.4rem;
}

.flex,
.right-col,
.bottom-cols {
  display: flex;
}

.grid-section--dark-heading {
  margin-bottom: 1.6rem;
  height: 100%;
  max-height: 14.9rem;
}

.grid-section--dark-heading h4 {
  font-size: 3.1rem;
  margin-bottom: 0.8rem;
  width: 100%;
  max-width: 33.3rem;
  line-height: 4.53rem;
}

.grid-section--dark-heading .text-light-body {
  width: 100%;
  max-width: 33.3rem;
}

.grid-section--dark-heading:before {
  content: "";
  display: block;
  width: 5rem;
  height: 0.4rem;
  background: var(--brand-blue);
  margin-bottom: 0.8rem;
}

.grid-section--btn {
  line-height: 2.05rem;
  font-weight: var(--athletics-medium);
}

.grid-section--btn__blue {
  color: var(--brand-blue);
  margin-top: 0.8rem;
}

.grid-section--btn__white,
.grid-section--btn__blue {
  width: 100%;
  max-width: 14rem;
}

.grid-section--btn__white {
  color: var(--white);
}

.grid-section--btn:hover {
  text-decoration: underline;
}

.grid-section--btn p {
  margin-right: 0.8rem;
}

.grid-components--heading {
  color: var(--white);
}

.grid-components--heading:after {
  content: "";
  display: block;
  width: 20rem;
  height: 0.05rem;
  background: var(--white);
  opacity: 0.35;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.grid-components--heading-large {
  font-size: 2.5rem;
  line-height: 3.7rem;
  width: 100%;
  max-width: 50.5rem;
}

.grid-components--heading-medium {
  font-size: 2rem;
  line-height: 2.9rem;
  width: 100%;
  max-width: 23rem;
}

.grids {
  padding-left: 3.2rem;
}

.grid-one {
  background: url(https://github.com/awobekuD/dojah/blob/working/src/assets/grid%20images/image-one.png?raw=true);
  background-size: cover;
  height: 60.5rem;
  width: 33.3rem;
  padding-top: 45rem;
}

.grid-two {
  background: url(https://github.com/awobekuD/dojah/blob/working/src/assets/grid%20images/image-two.png?raw=true);
  background-size: cover;
  height: 38.8rem;
  width: 68.7rem;
  padding-top: 24.6rem;
}

.grid-three {
  background: url(https://github.com/awobekuD/dojah/blob/working/src/assets/grid%20images/image-three.png?raw=true);
  background-size: cover;
  height: 36.2rem;
  width: 33.5rem;
  padding-top: 20.7rem;
}

.grid-four {
  background: url(https://github.com/awobekuD/dojah/blob/working/src/assets/grid%20images/image-four.png?raw=true);
  background-size: cover;
  height: 36.2rem;
  width: 33.2rem;
  padding-top: 20.7rem;
  margin-left: 2rem;
}

.right-col {
  flex-direction: column;
  margin-left: 2rem;
}

.bottom-cols {
  margin-top: 2rem;
}

/* MEDIA QUERIES for screens (1024, 768, 426)*/

@media screen and (max-width: 1024px) {
  .grid-section--dark-heading {
    max-width: 24rem;
  }

  .grid-section--dark-heading h4 {
    font-size: 2.4rem;
    line-height: 4rem;
  }

  .grid-section--dark-heading p {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }

  .grid-components--heading-large {
    font-size: 2rem;
    line-height: 3rem;
  }

  .grid-components--heading-medium {
    font-size: 1.6rem;
    line-height: 2.6rem;
    width: 100%;
    max-width: 21rem;
  }

  .grid-section--btn {
    font-size: 1.2rem;
  }

  .grids {
    padding-left: 1.6rem;
  }

  .grid-one {
    width: 23.7rem;
    height: 38.9rem;
    padding-top: 28rem;
  }

  .grid-two {
    width: 48.9rem;
    height: 27.6rem;
    padding-top: 16rem;
  }

  .grid-three {
    width: 23.8rem;
    height: 25.7rem;
    padding-top: 15rem;
  }

  .grid-four {
    width: 23.6rem;
    height: 25.7rem;
    padding-top: 15rem;
  }

  .right-col {
    margin-left: 1.6rem;
  }

  .bottom-cols {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .grid-section--dark-heading {
    max-width: 18rem;
    margin-bottom: 5rem;
  }

  .grid-section--dark-heading h4 {
    font-size: 2rem;
    line-height: 2.6rem;
  }

  .grid-section--dark-heading p {
    font-size: 1.4rem;
  }

  .grid-components--heading-large {
    font-size: 1.8rem;
  }

  .grid-components--heading-medium {
    font-size: 1.6rem;
    line-height: 2.6rem;
    width: 100%;
    max-width: 14rem;
  }

  .grid-section--btn {
    font-size: 1.2rem;
  }

  .grids {
    padding-left: 1rem;
  }

  .right-col {
    margin-left: 2rem;
  }

  .bottom-cols {
    margin-top: 2rem;
  }

  .grid-one {
    width: 17.8rem;
    height: 26.2rem;
    padding-top: 10.5rem;
  }

  .grid-two {
    width: 36.7rem;
    height: 20.7rem;
    padding-top: 9.5rem;
  }

  .grid-three {
    width: 17rem;
    height: 23.4rem;
    padding-top: 7.7rem;
  }

  .grid-four {
    width: 17.7rem;
    height: 23.4rem;
    padding-top: 7.7rem;
  }
}

@media screen and (max-width: 426px) {
  .flex,
  .right-col,
  .bottom-cols {
    flex-direction: column;
  }

  .flex-container {
    justify-content: flex-start;
    margin-left: 2.4rem;
    padding-top: 0;
    padding-bottom: 0;
  }

  .grid-section--dark-heading {
    max-width: 36rem;
    margin-bottom: -2rem;
  }

  .grid-section--dark-heading h4 {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }

  .grid-section--dark-heading p {
    font-size: 1.4rem;
  }

  .grid-components--heading-large {
    font-size: 1.2rem;
    line-height: 1.6rem;
    max-width: 19rem;
  }

  .grid-components--heading-medium {
    font-size: 1.2rem;
    line-height: 1.6rem;
    width: 100%;
    max-width: 19rem;
  }

  .grid-section--btn {
    font-size: 1.2rem;
  }

  .grids {
    padding-left: 1rem;
  }

  .right-col {
    margin-left: 0;
  }

  .bottom-cols {
    margin-top: 0;
  }

  .grid-one,
  .grid-two,
  .grid-three,
  .grid-four {
    width: 100%;
    height: 12.7rem;
  }

  .grid-one {
    margin-bottom: 4.8rem;
    padding-top: 4.6rem;
  }

  .grid-two {
    padding-top: 4.6rem;
    margin-bottom: 1.6rem;
  }

  .grid-three {
    margin-bottom: 1.6rem;
    padding-top: 4.6rem;
  }

  .grid-four {
    padding-top: 4.6rem;
    margin-bottom: 4.8rem;

    margin-left: 0;
  }
}
