.sub-hero-section {
  height: 100%;
  max-height: 70rem;
  background: var(--dark-grey);
  padding: 36.1rem 39.9rem 8rem 39.8rem;
  clip-path: polygon(0 15.8rem, 100% 0, 100% 100%, 0% 100%);
  margin-top: -31.3rem;
}

.sub-hero-section--text h2 {
  line-height: 6.58rem;
  font-size: 4.5rem;
  max-width: 64.3rem;
  text-align: center;
}

.sub-hero-section-width {
  width: 100%;
}

.sub-hero-section--text__body {
  margin-top: 2.4rem;
}

.sub-hero-section--text__body p {
  font-size: 2rem;
  font-weight: var(--athletics-bold);
  line-height: 2.9rem;
  color: var(--light-blue);
}

.sub-hero-section__body-container-two {
  margin-left: 2.4rem;
}

.sub-hero-section__body-container-one p,
.sub-hero-section__body-container-two p {
  margin-left: 0.8rem;
}

.sub-hero-section-favicon-logo {
  margin-top: 2.4rem;
}

.partner-companies {
  padding: 10.4rem 21.4rem;
}

/* MEDIA QUERIES for screens (1024, 768, 426)*/

@media screen and (max-width: 1024px) {
  .sub-hero-section {
    padding-right: 28rem;
    padding-left: 28rem;
    clip-path: polygon(0 11.2rem, 100% 0, 100% 100%, 0% 100%);
    padding-bottom: 8rem;
    padding-top: 24rem;
    margin-top: -22rem;
  }

  .sub-hero-section--text h2 {
    line-height: 6rem;
    font-size: 4.1rem;
    max-width: 64.3rem;
  }

  .sub-hero-section--text__body p {
    font-size: 1.6rem;
  }

  .partner-companies {
    padding-right: 15.2rem;
    padding-left: 15.2rem;
  }

  .partner-companies img {
    max-width: 72.8rem;
  }
}

@media screen and (max-width: 768px) {
  .sub-hero-section {
    padding-right: 20rem;
    padding-left: 20rem;
    clip-path: polygon(0 8.4rem, 100% 0, 100% 100%, 0% 100%);
    margin-top: -16rem;
    padding-top: 20rem;
    padding-bottom: 8rem;
  }

  .partner-companies {
    padding: 4.8rem 10rem;
  }

  .partner-companies img {
    max-width: 54.6rem;
  }

  .sub-hero-section--text h2 {
    line-height: 4.5rem;
    font-size: 3.1rem;
    max-width: 48rem;
  }

  .sub-hero-section--text__body p {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 426px) {
  .sub-hero-section {
    padding-right: 2.4rem;
    padding-left: 2.4rem;
    clip-path: polygon(0 4.7rem, 100% 0, 100% 100%, 0% 100%);
    margin-top: -12rem;
    padding-top: 16rem;
    padding-bottom: 8rem;
  }

  .sub-hero-section--text h2 {
    line-height: 3.4rem;
    font-size: 2.2rem;
  }

  .sub-hero-section--text__body p {
    font-size: 1.4rem;
  }

  .sub-hero-section__body-container-two {
    margin-left: 1.6rem;
  }

  .partner-companies {
    padding: 4rem 2.4rem;
  }

  .partner-companies img {
    width: 100%;
    max-width: 38.4rem;
  }

  .sub-hero-section__body-container-one img,
  .sub-hero-section__body-container-two img {
    width: 1.6rem;
  }

  .sub-hero-section-favicon-logo img {
    max-width: 3.2rem;
    max-height: 3.2rem;
  }
}
