.fifth-section {
  background: var(--dark-grey);
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  margin-top: -13.1rem;
  position: relative;
  height: 42.4rem;
  overflow: hidden;
}

.fifth-section-text {
  width: 100%;
  max-width: 43.5rem;
  margin-top: 10.4rem;
}

.text-arrow-btns {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  z-index: 1;
  width: 100%;
}

.fifth-section--btn {
  color: var(--light-blue-shade);
  margin-top: 1.6rem;
  max-width: 20.2rem;
}

.fifth-section--btn:hover {
  text-decoration: underline;
}

.fifth-section--btn p {
  margin-right: 0.8rem;
}

.fifth-section--image {
  max-width: 76.7rem;
  max-height: 47.4rem;
  margin-top: 10.4rem;
  margin-left: -24rem;
}

/* MEDIA QUERIES for screens (1024, 768, 426)*/

@media screen and (max-width: 1024px) {
  .fifth-section {
    height: 30.6rem;
  }

  .fifth-section-text {
    margin-top: 8rem;
  }

  .fifth-section--image {
    max-width: 54.5rem;
    max-height: 33.7rem;
    margin-top: 8rem;
    margin-left: -4rem;
  }
}

@media screen and (max-width: 768px) {
  .fifth-section {
    height: 25.2rem;
  }

  .fifth-section--image {
    max-width: 40.9rem;
    max-height: 25.3rem;
    margin-top: 8rem;
    margin-left: 1rem;
  }

  .fifth-section-text {
    margin-top: 4rem;
  }
}
@media screen and (max-width: 426px) {
  .fifth-section {
    height: 20rem;
    margin-bottom: 4rem;
  }

  .fifth-section--image {
    display: none;
  }

  .fifth-section-text {
    margin-left: 2.4rem;
    margin-right: 2.4rem;
  }
}
