:root {
  /* colours */
  --white: hsla(0, 0%, 100%, 1);
  --light-grey: hsla(222, 14%, 47%, 1);
  --dark-grey: hsla(222, 49%, 21%, 1);
  --brand-blue: hsla(217, 71%, 55%, 1);
  --brand-blue: hsla(217, 71%, 55%, 1);
  --light-blue: hsla(217, 71%, 77%, 1);
  --footer-blue: hsla(217, 71%, 62%, 1);

  /* font weights */
  --athletics-regular: normal;
  --athletics-medium: 500;
  --athletics-bold: bold;
  --athletics-extrabold: 800;
}

/* general styling */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Athletics", sans-serif;
}

h1 {
}
