:root {
  /* colours */
  --white: hsla(0, 0%, 100%, 1);
  --light-grey: hsla(222, 14%, 47%, 1);
  --dark-grey: hsla(222, 49%, 21%, 1);
  --brand-blue: hsla(217, 71%, 55%, 1);
  --brand-blue: hsla(217, 71%, 55%, 1);
  --light-blue: hsla(217, 71%, 77%, 1);
  --light-blue-text: hsla(219, 74%, 95%, 1);
  --light-blue-shade: hsla(217, 71%, 85%, 1);
  --footer-blue: hsla(217, 71%, 62%, 1);

  /* font weights */
  --athletics-regular: normal;
  --athletics-medium: 500;
  --athletics-bold: bold;
  --athletics-extrabold: 800;
}

/* general styling */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Athletics", sans-serif;
}

.flex-display {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-display-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  font-size: 1.4rem;
  font-weight: var(--athletics-medium);
}

.text-extrabold-dark,
.section-heading-texts {
  font-weight: var(--athletics-extrabold);
  color: var(--dark-grey);
}

.text-extrabold-light {
  font-weight: var(--athletics-extrabold);
  color: var(--light-blue-text);
}

.text-bold-light {
  font-weight: var(--athletics-bold);
  color: var(--light-blue-text);
}

.text-light-body {
  line-height: 2.8rem;
  font-size: 1.6rem;
  font-weight: var(--athletics-normal);
  color: var(--light-grey);
}

.btn-text {
  line-height: 2rem;
  font-size: 1.4rem;
  font-weight: var(--athletics-normal);
  color: var(--white);
}

.section-heading-texts {
  font-size: 4.8rem;
  line-height: 6.7rem;
  margin-bottom: 1.6rem;
}

@media screen and (max-width: 1024px) {
  .section-heading-texts {
    font-size: 4rem;
    line-height: 4.8rem;
    margin-bottom: 1.6rem;
  }
}

@media screen and (max-width: 768px) {
  .section-heading-texts {
    font-size: 3rem;
    line-height: 3.6rem;
    margin-bottom: 1.6rem;
  }

  .text-light-body {
    line-height: 2.4rem;
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 426px) {
  .section-heading-texts {
    font-size: 2.5rem;
    line-height: 3.6rem;
    margin-bottom: 0.8rem;
  }

  .text-light-body {
    line-height: 2.4rem;
    font-size: 1.4rem;
  }
}

/* SCROLLBAR STYLING */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: var(--brand-blue);
}
